parser: "babel-eslint"
extends: "airbnb"
env: {"browser": true, "node": true}
rules:
  global-require: 0
  import/extensions: 0
  import/prefer-default-export: [1, ['js']]
  react/jsx-filename-extension: 0
  react/require-extension: 0
  # https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md
  import/no-extraneous-dependencies: [2, {}]
  no-else-return: 0
  no-underscore-dangle: 0
